<!doctype>

<html>

<head>
    <title>UNDP</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/bootflat.min.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>



<body>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/jquery.fs.selecter.min.js"></script>
    <script src="scripts/jquery.fs.stepper.min.js"></script>
    <script src="scripts/icheck.min.js"></script>
    <script src="scripts/bootstrapValidator.js"></script>
    <script src="scripts/contactUs.js"></script>
    <!-- NAVIGATION bar comes here-->
    <nav class="navbar navbar-fixed-top navbar-default navbar-custom" role="navigation" id="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--this is just the button that appears, because of the navbar toggle collapsed, it only ppears in the collapsed view-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Our site Name :v</a>-->
            </div>
            <div class="navbar-collapse collapse navbar-right" id="nav-collapse-menu">
                <div class="navbar-header">
                    <div class="navbar-left">
                        <img src="images/logo-undp.png" id="site-brand" class="navbar-brand" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <ul class="nav nav-tabs nav-justified navbar-collapse">
                            <li class="nav-link"><a href="index.html">HOME</a>
                            </li>
                            <li class="nav-link"><a href="chart1.html">FIREARM RELATED OFFENCES</a>
                            </li>
                            <li class="nav-link"><a href="chart2.html">CRIMINAL VICTIMIZATION</a>
                            </li>
                            <li class="nav-link"><a href="tablepage.html">HUMAN DEVELOPMENT INDICES</a>
                            </li>
                            <li class="nav-link"><a href="about.html">ABOUT US</a>
                            </li>
							<li class="active nav-link"><a href="ContactUs.html">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar ends here -->
    <!-- body comes here-->
    <div class="container" id="main">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-heading-text">Contact Us</h5>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label " for="email">Email:</label>
                                <div class="input-group" data-validate="email">
                                    <input class="form-control" name="email" type="email" placeholder="example@example.com" data-bv-emailaddress-message="The value is not a valid email address" required/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="comments">Comments:</label>
                                </br>
                                <textarea id="comments" class="form-control contact" rows="12" cols="75" required></textarea>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="submit"></label>
                                <div>
                                    <button id="submit" name="submit" class="btn btn-defaultl">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p>

                </p>
            </div>

        </div>



    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-lg-4 col-md-4">

            </div>

            <div class="col-lg-4 col-md-4">
                <div class="text-center center-block">
                    <br />
                    <a href="https://www.facebook.com/bootsnipp"><i class="social fa fa-facebook-square fa-3x"></i></a>
                    <a href="https://twitter.com/bootsnipp"><i class=" social fa fa-twitter-square fa-3x"></i></a>
                    <a href="https://plus.google.com/+Bootsnipp-page"><i class=" social fa fa-google-plus-square fa-3x"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social" class=" social fa fa-envelope-square fa-3x"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">

            </div>
        </div>
    </footer>
    <!-- bdoy ends here-->
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/highstock.js"></script>
    <script src="scripts/lodash.js"></script>
    <script src="scripts/charts.js"></script>
</body>

</html>