<!doctype>

<html>

<head>
    <title>UNDP</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/bootflat.min.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>



<body>
    <!--  <div class="row"-->


    <!-- NAVIGATION bar comes here-->
    <nav class="navbar navbar-fixed-top navbar-default navbar-custom" role="navigation" id="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--this is just the button that appears, because of the navbar toggle collapsed, it only ppears in the collapsed view-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Our site Name :v</a>-->
            </div>
            <div class="navbar-collapse collapse navbar-right" id="nav-collapse-menu">
                <div class="navbar-header">
                    <div class="navbar-left">
                        <img src="images/logo-undp.png" id="site-brand" class="navbar-brand" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <ul class="nav nav-tabs nav-justified navbar-collapse">
                            <li class="active nav-link"><a href="index.html">HOME</a>
                            </li>
                            <li class="nav-link"><a href="chart1.html">FIREARM RELATED OFFENCES</a>
                            </li>
                            <li class="nav-link"><a href="chart2.html">CRIMINAL VICTIMIZATION</a>
                            </li>
                            <li class="nav-link"><a href="tablepage.html">HUMAN DEVELOPMENT INDICES</a>
                            </li>
                            <li class="nav-link"><a href="about.html">ABOUT US</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar ends here -->

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/img1_crimescn.jpg" alt="...">
                <div class="carousel-caption">
                    so yea tape and thing
                </div>
            </div>
            <div class="item">
                <img src="images/img1_crimeWords.jpg" alt="...">
                <div class="carousel-caption">
                    So yea random words about crime :v
                </div>
            </div>
            <div class="item">
                <img src="images/img1_crimeWords.jpg" alt="...">
                <div class="carousel-caption">
                    Just another slide
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left">  </span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right">  </span>
        </a>
    </div>
    <!--   </div>
    </div> -->



    <!-- body comes here-->
    <div class="container">
        <div class="row main-content-bars text-main-desc">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Why we need to change the way we think</h1>
                <p>Master cleanse literally ennui raw denim Wes Anderson leggings mlkshk, narwhal Pitchfork. Squid wolf Helvetica ugh craft beer. Umami street art pickled tofu Tonx. Hashtag yr roof party keytar cardigan fashion axe. Neutra viral jean shorts forage organic. Ethical gentrify +1 mustache Truffaut raw denim pickled. Direct trade sustainable fingerstache, leggings Odd Future jean shorts Thundercats cray Godard pickled deep v twee Austin. Authentic cray next level, pickled aesthetic ennui literally. Wolf swag slow-carb keytar High Life Intelligentsia. Blue Bottle paleo Neutra PBR&B swag, gluten-free Kickstarter Echo Park. Gastropub tousled yr meh, Helvetica church-key keytar. Literally sustainable locavore chia. Mixtape Echo Park semiotics cray +1 Helvetica locavore brunch, Godard crucifix chillwave vegan. Flexitarian PBR YOLO gentrify small batch typewriter.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row main-content-bars">
            <div class="col-sm-6  col-xs-12 text-content col-sm-offset-1">
                <h2>Direct Crime </h2>
                <p>This is where the individual themselves have been directly confronted by a criminal in the act of thier crime</p>
            </div>
            <div class="col-sm-4 col-xs-12 circular1"></div>
        </div>

        <div class="row main-content-bars">
            <div class="col-sm-4 col-xs-12 circular2 col-sm-offset-1"></div>
            <div class="col-sm-6  col-xs-12 text-content">
                <h2>The loss of humanity</h2>
                <p>People no longer see the need to help others in need and by doing so foster a criminal environment</p>
            </div>
        </div>
        <div class="row main-content-bars">
            <div class="col-sm-6  col-xs-12 col-sm-offset-1 text-content">
                <h2>The influence of technology </h2>
                <p>With the world now looking at the internet of things, everything is becoming more and more connected through some vulnerable network which opens avenues for people to steal your life without you ever knowing. Technology has not only provided a way for people to steal our worldly possession but corrupt our mental state leading to the previous point. Social networking sites in particular provide an avenue for those to influence other in the ideals of justification of heinous crimes</p>
            </div>
            <div class="col-sm-4 col-xs-12 circular3"></div>
        </div>
    </div>
    <!-- bdoy ends here-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts\bootstrap.min.js"></script>

</body>

</html>