<head>
        <title>UNDP</title>
        
        <link rel="stylesheet" href="styles/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/bootflat.min.css" />
        <link rel="stylesheet" href="styles/table.css" />
</head>


<!--<p>CARICOM Human Development Indices</p>-->

<div class="col-md-6 col-lg-6 col-sm-12">
    <table class="table table-edge">
        <div class = "">
            <caption class="cap">CARICOM Human Development Indices</caption>
                <div class="">
                    <thead class="blue-head" >
                        <th></th>
                        <th class="">Human<br>Development<br>Index (HDI)</th>
                        <th colspan="2">HDI rank</th>
                        <th colspan="2">Inequality-<br>adjusted</th>
                        <th colspan="2">Gender<br>Inequality<br>Index</th>
                    </thead>
                </div>

            <tbody>
                <tr>
                    <td></td>
                    <td>Value<br>2011</td>
                    <td>Rank<br>2011</td>
                    <td>Change<br>2010-<br>2011</td>
                    <td>Value<br>2011</td>
                    <td>Change<br>in rank<br>2011</td>
                    <td>Value<br>2011</td>
                    <td>Rank<br>2011</td>
                </tr>

                <tr>
                    <td colspan="8" class="table-sub">Very High Human Development</td>
                </tr>

                <tr>
                    <td>Barbados</td>
                    <td>0.793</td>
                    <td>47</td>
                    <td>0</td>
                    <td>..</td>
                    <td>..</td>
                    <td>0.364</td>
                    <td>65</td>
                </tr>

                <tr>
                    <td colspan="8" class = "table-sub">High Human Development</td>
                </tr>

                <tr>
                    <td>Bahamas</td>
                    <td>0.771</td>
                    <td>53</td>
                    <td>0</td>
                    <td>0.658</td>
                    <td>-3</td>
                    <td>0.332</td>
                    <td>54</td>
                </tr>

                <tr>
                    <td>Antigua and Barbuda</td>
                    <td>0.764</td>
                    <td>60</td>
                    <td>1</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                </tr>

                <tr>
                    <td>Trinidad and Tobago</td>
                    <td>0.760</td>
                    <td>62</td>
                    <td>1</td>
                    <td>0.644</td>
                    <td>-2</td>
                    <td>0.331</td>
                    <td>53</td>
                </tr>

                <tr>
                    <td>Grenada</td>
                    <td>0.748</td>
                    <td>60</td>
                    <td>1</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                </tr>

                <tr>
                    <td>St. Kitts and Nevis</td>
                    <td>0.735</td>
                    <td>72</td>
                    <td>0</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                </tr>

                <tr>
                    <td>Jamaica</td>
                    <td>0.727</td>
                    <td>79</td>
                    <td>-1</td>
                    <td>0.610</td>
                    <td>4</td>
                    <td>0.450</td>
                    <td>81</td>
                </tr>

                <tr>
                    <td>Dominica</td>
                    <td>0.724</td>
                    <td>81</td>
                    <td>-1</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                </tr>

                <tr>
                    <td>St. Lucia</td>
                    <td>0.723</td>
                    <td>82</td>
                    <td>0</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                </tr>

                <tr>
                    <td>St. Vincent and the<br>Grenadines</td>
                    <td>0.717</td>
                    <td>85</td>
                    <td>-1</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                    <td>..</td>
                </tr>

                <tr>
                    <td colspan="8" class = "table-sub">Medium Human Development</td>
                </tr>

                <tr>
                    <td>Belize</td>
                    <td>0.699</td>
                    <td>93</td>
                    <td>-1</td>
                    <td>..</td>
                    <td>..</td>
                    <td>0.493</td>
                    <td>97</td>
                </tr>

                <tr>
                    <td>Suriname</td>
                    <td>0.680</td>
                    <td>104</td>
                    <td>0</td>
                    <td>0.518</td>
                    <td>-3</td>
                    <td>..</td>
                    <td>..</td>
                </tr>

                <tr>
                    <td>Guyana</td>
                    <td>0.633</td>
                    <td>117</td>
                    <td>2</td>
                    <td>0.492</td>
                    <td>-1</td>
                    <td>0.511</td>
                    <td>106</td>
                </tr>

                <tr>
                    <td colspan="8" class = "table-sub">Low Human Development</td>
                </tr>

                <tr>
                    <td>Haiti</td>
                    <td>0.454</td>
                    <td>158</td>
                    <td>1</td>
                    <td>0.271</td>
                    <td>-9</td>
                    <td>0.599</td>
                    <td>123</td>
                </tr>

                <tr>
                    <td colspan="8">
                        <small>
                        Source: Human Development Report 2011 Sustainability and Equity: A Better Future for All.<br> 
                        NOTES <br> 
                        a. Rank is based on 187 countries for which the 2011 HDI is calculated. <br> 
                        b. Arrows indicate upward or downward movement in the country’s ranking over 2010-2011 using consistent data and
                        methodology; a blank indicates no change.<br> 
                        c. Change in rank is based on countries for which the Inequality-adjusted Human Development Index is calculated.<br> 
                        </small>
                    </td>
                </tr>

            </tbody>  
        </div>
    </table>
</div>