
.nav-link {
    font-family: 'Oswald', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}
/*edits (steffan)
#nav-collapse-menu a{
    color:rgb(223, 219, 219);
}

#navbar{
    background: #434A54;
}
*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

#nav-collapse-menu  li:hover{
    color:white;
}
.navbar-custom {
    position:fixed;
    top:0;
    left:0;
    border:none;
    border-radius:0;
    background-color:rgba(67,74,84,.7);
    width:100%;
    z-index:2000;
}

.circular1 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(styleimages/img_hole_facegun.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.circular2 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(styleimages/img_no_help.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}  
.circular3 {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(styleimages/img_cyber.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}  
.main-content-bars{
	margin-top:50px;
}


.text-content{
	margin:50px;
	height:200px;
	background-color:#F5F7FA;
}
.text-main-desc{
	margin:50px;
	background-color:#F5F7FA;
}



/*VERTICAL NAVIGATION*/
#cd-vertical-nav {
    /*fix the navigation*/
      position: fixed;
      right: 40px;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
}
 
#cd-vertical-nav a span {
      float: right;
      /*scale down navigation dots and labels*/
      -webkit-transform: scale(0.6);
}
 
#cd-vertical-nav .cd-dot {
      -webkit-transform-origin: 50% 50%;
}
 
#cd-vertical-nav .cd-label {
      -webkit-transform-origin: 100% 50%;
}
 
#vertical-nav a:hover span {
     /*scale up navigation dots and labels*/
      -webkit-transform: scale(2);
}
 
#cd-vertical-nav a:hover .cd-label {
    /*show labels*/
     opacity: 1;
}