
.nav-link {
    font-family: 'Oswald', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}
/*edits (steffan)
#nav-collapse-menu a{
    color:rgb(223, 219, 219);
}

#navbar{
    background: #434A54;
}
*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

#nav-collapse-menu  li:hover{
    color:white;
}
.navbar-custom {
    position:fixed;
    top:0;
    left:0;
    border:none;
    border-radius:0;
    background-color:rgba(67,74,84,.7);
    width:100%;
    z-index:2000;
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
} 



.text-content{
	margin:50px;
	height:200px;
	background-color:#E6E9ED;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

body {
    background-color: #ECF0F1;
    padding: 20px;
}


@media only screen and (max-width: 768px) {
    body {
        padding: 0px;
    }

    main {
        padding: 0px;
    }
}

#main {
    padding: 40px;
}

#site-brand {

}

p {
    color: #6C7A89;
    font-family: 'Roboto', sans-serif;
    line-height: 200%;
    margin: 5px;
}

#active-option {
    text-decoration: dotted
}

.inline{
    display: inline;
}

footer {
    background-color: #95A5A6;
}

footer p {
    color: #ECECEC;
}


header {
    background: #F5F7FA;
}

.panel-heading {
    border-color:#757D75;
}

.panel-heading-text {
    text-align: center;
}

.social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
			}           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
			.social-fb:hover {
				color: #3B5998;
			}
			.social-tw:hover {
				color: #4099FF;
			}
			.social-gp:hover {
				color: #d34836;
			}
			.social-em:hover {
				color: #f39c12;
			}